doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Redux/React App
    link(href="./static/app.css" rel="stylesheet" type="text/css")
  body
    #main
    script(src="./static/bundle.js")
